streamlit
langchain
langchain-community
langchain-core
langchain-chroma
langchain-huggingface
langchain-openai
chromadb
huggingface-hub
python-dotenv
openai
tiktoken
sentence-transformers  # เพิ่มบรรทัดนี้เพื่อรองรับ BAAI/bge-m3